<h1>List of users</h1>

<table border ="1">
  <tr>
    <th>
      Username
    </th>
    <th>
      Private?
    </th>
    <th>
    
    </th>
    <th>
    
    </th>
  </tr>

  <% @list_of_users.each do |a_user| %>
    <tr>
      <td>
        <%= a_user.username %>
      </td>
      <td>
        <% if a_user.private == true %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
      <td>
        <!-- this needs to have buttons to follow or links to unfollow -->
        <% if @current_user !=nil %>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" id="recipient" name="query_recipient_id" value="<%= a_user.id %>">
            <button>
              Follow
            </button>
          </form>
        <% else %>
          <%= %>
        <% end %>
      </td>
      <td>
        <a href="users/<%= a_user.username %>">Show details</a>
      </td>
    </tr>
  <% end %>

</table>