<dl>
  <dt>@current_user</dt>
  <dd><%= @current_user.username %></dd>

  <dt>@the_follow_request</dt>
  <dd><%= @the_follow_request.id %></dd>

  <dt>@last_req</dt>
  <dd><%= @last_req.id %></dd>
</dl>

<h1><%= @current_user.username %></h1>